@import "tailwindcss";


@theme {
--color-dark-100: #282C33;
--color-red-100: #E06B74;
--color-green-100: #E06B74;
--color-yellow-100: #E5C07A;
--color-blue-100: #55B6C2;
--color-blue-200: #62AEEF;
--color-purple-100: #C778DD;
--color-gray-100: #ABB2BF;
}